@font-face {
  font-family: "Poppins";
  src: url("../Poppins-Regular.ttf") format("truetype")
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background-color: #7bdaf3;
  display: flex;
  flex-wrap: wrap;
}

.add {
  background-color: steelblue;
  color: #fff;
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  border-radius: 5px;
  position: fixed;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.notes {
  width: 300px;
  height: 300px;
  background-color: #fff;
  margin: 70px 30px 30px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.tools {
  background-color: steelblue;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.tools button {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.content {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-color: #eee;
}

.notes textarea {
  width: 100%;
  height: 300px;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  outline: none;
}

.notes .hidden {
  display: none;
}
